{% extends "base.html" %}
{% load static %}
{% block title %}博客|热门{% endblock %}
{% block content %}{% endblock %}
{% block body %}
		<div class="content">
			<div class="container_12">
				<div class="grid_7">
					<h3>{% if user.is_authenticated %}欢迎您：{{ user }}{% else %}您尚未登录，<a href="/home/">点此登录</a>{% endif %}</h3>
                    {% block blog_content %}{% for blog in blogs %}
					<div class="blog">
						<time>{{ blog.blog_create_time|date:"d" }}<span>{{ blog.blog_create_time|date:"D" }}</span></time>
						<div class="extra_wrapper">
							<div class="text1 col1"><a href="#">{{ blog.blog_title }}</a></div>
							由<a href="#">{{ blog.blog_author }}</a>发表，更新于：{{ blog.blog_modify_time }}
						</div>
						<div class="clear"></div>
						<img src={{ blog.blog_images.url }} alt="" class="img_inner">
						<p>{{ blog.blog_content }}
						<br>
						<a href="#" class="link1">了解更多</a>
					</div>
					{% empty %}
					<p>暂无文章</p>
					{% endfor %}{% endblock %}
				</div>
				<div class="grid_3 prefix_1">
					<h3 class="head1">热门文章</h3>
					<ul class="list">
						{% for blog in hot_blogs %}
						<li><a href={% url 'blogs:blogdetails' blog.id %}>{{ blog.blog_title }}</a></li>
						{% empty %}
						<li>暂无热门</li>
						{% endfor%}
					</ul>
					<h3 class="head1">文章分类</h3>
					<ul class="list">
						{% for type in type_blogs%}
						<li><a href={% url 'blogs:blogtypes' type.id %}>{{ type }}</a></li>
						{% empty %}
						<li>暂无分类</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

{% endblock %}