{% extends 'base.html' %}
{% load static %}
{% block title %}首页{% endblock %}
{% block refrence %}<link href="{% static "/css/form.css" %}" rel="stylesheet">{% endblock %}
{% block content %}
<div class="forms-login">
    <div class="forms-content">
        <form class="form-login">
        <center class="form-bg">{% if user.is_authenticated %}
            <h3 class="login-title">已登录</h3>
            <div class="login-label">
                <label class="control-label">用户名：</label>
                <label>{{ user }}</label>
            </div>
            <div class="login-label">
                <label class="control-label" for="user_pwd">上次登录时间：</label>
                <label>{{ user.last_login}}</label>
            </div>
            <div class="login-label">
                <label class="control-label" for="user_pwd">注册时间：</label>
                <label>{{ user.date_joined}}</label>
            </div>
            <div class="login-label">
                <button type="button" class="btn" id="userlogout">注销</button>
            </div>
            {% else %}
            <h3 class="login-title">登录</h3>
            <div class="login-label">
                <label class="control-label" for="user_name">账号：</label>
                <input type="text" id="user_name" placeholder="请输入用户名" required="required">
            </div>
            <div class="login-label">
                <label class="control-label" for="user_pwd">密码：</label>
                <input type="password" id="user_pwd" placeholder="请输入密码" required="required">
            </div>
            <div class="login-label">
                <p id="message"></p>
            </div>
            <div class="login-label">
                <button type="button" class="btn" id="userlogin">登录</button>
                <button type="reset" class="btn">重置</button>
            </div>
            {% endif %}</center>
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
<script>{% if user.is_authenticated %}
    $(document).ready(function(){
        $("#userlogout").click(function(){
            $.get("/logout/",function(data){
                if(data=="success"){
                    alert("注销成功");
                    window.location = "/blogs/";
                }else{
                    alert("注销失败")
                }
            });
        });
    }){% else %}
    $(document).ready(function(){
        $("#userlogin").click(function(){
            var user = $("#user_name").val();
            var pwd= $("#user_pwd").val();
            $.post("/login/", { "username": user,"password":pwd },
               function(data){
                 if(data=="success"){//验证成功
                    window.location = "/home/"
                 }else{
                    $("#message").html("账号或密码错误，请重试！")
                 }
               });
        });
    }){% endif %}
</script>
{% endblock %}